div.importPurchase {
    position: relative;
}
div.importPurchase form.purchaseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    padding-bottom: 100px;
    overflow: auto;
}
div.importPurchase form.purchaseForm .labelInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
div.importPurchase form.purchaseForm .labelInput.date, .labelInput.discount, .labelInput.subtotal, .labelInput.shipping { padding-right: 5px; }
div.importPurchase form.purchaseForm label {
    font-size: 16px;
}
div.importPurchase form.purchaseForm input {
    border: none;
    background-color: lightgray;
    padding: 5px;
}
div.importPurchase form.purchaseForm .dateAndVendor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
div.importPurchase form.purchaseForm .dateAndVendor .labelInput.date {
    width: 45%;
}
div.importPurchase form.purchaseForm .dateAndVendor .labelInput.vendor {
    width: 55%;
}
div.importPurchase form.purchaseForm .discountSubtotalAndTax {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
div.importPurchase form.purchaseForm .discountSubtotalAndTax .labelInput.discount {
    width: 25%;
}
div.importPurchase form.purchaseForm .discountSubtotalAndTax .labelInput.subtotal {
    width: 50%;
}
div.importPurchase form.purchaseForm .discountSubtotalAndTax .labelInput.taxAmount {
    width: 25%;
}
div.importPurchase form.purchaseForm .discountSubtotalAndTax .labelInput.taxAmount p {
    padding: 5px;
    font-size: 20px;
}
div.importPurchase form.purchaseForm .shippingAndTotal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
div.importPurchase form.purchaseForm .shippingAndTotal .labelInput.shipping {
    width: 25%;
}
div.importPurchase form.purchaseForm .shippingAndTotal .labelInput.total {
    width: 50%;
}
div.importPurchase form.purchaseForm .labelInput.purchaserNote { width: 100%; }
div.importPurchase form.purchaseForm .items { margin-top: 20px; }

@media only screen and (min-width: 600px) {
    div.importPurchase {
      margin-top: 120px;
      width: 600px;
    }
}
