div.selectItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner {
        .search, .toolbar { margin-bottom: 10px; }
    }
    .itemTypeSelector {
        margin-bottom: 20px;
    }
    .itemFinder {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
}