.env
node_modules
yarn-error.log
dist
priceCheck.log
addSetsFromTcgPlayer.log
addItemsFromTcgPlayer.log
geckodriver.log
addCardsFromTcgPlayer.log
packages/client/src/assets/images/sets
packages/client/src/assets/images/TCGplayerAffiliateBrandPackage
