.sort {
    display: flex;
    width: 160px;
    height: 30px;
}
.sort button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: #6065cb;
    font-size: 12px;
    width: 40px;
    padding-left: 10px;
    height: 100%;
}
.sort button i {
    width: 9px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
}
.sort button i.upArrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.sort button i.downArrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.sort select {
    appearance: none;
    width: 100%;
    font-size: 12px;
    margin: 0;
    border-radius: 5px;
    padding: 3px;
}