.itemsTable {
    width: 100%;
    margin-top: 10px;
    tr {
        height: 40px;
        text-align: center;
        th { font-size: 14px; }
        th, td {
            vertical-align: middle;
        }
        .name { width: 60%; }
        .price { width: 20%; }
        .quantity { width: 10%; }
        .edit { width: 10%; }
    }
    tr.spacer { height: 10px; }
    tr.tableItem {
        box-shadow: 0 2px 4px 0px lightgray;
        border-radius: 10px;
    }
}