.marketplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 75px;
}

.setSelector {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    select {
        font-size: 16px;
        margin-top: 0;
        width: 60%;
    }
    option {
        border: solid 1px black;
    }
}

.rangeSelectors {
    display: flex;
    // align-items: center;
    height: 30px;
    justify-content: center;
    // border: solid black 1px;
    // height: 5%;
    button.rangeSelector {
        // font-size: 50px;
        height: 26px;
        cursor: pointer;
        border: none;
        background: none;
        color: grey;
        width: 10%;
    }
    button.rangeSelector.selected {
        color: #6065CB;
        font-weight: 800;
        box-shadow: none;
    }
}

.marketplaceItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;    
    overflow: auto;
    // height: 85%;

    // padding: 5% 0 15% 0;
    .marketplaceItem {
        align-self: stretch;
        border-radius: 15px;
        // padding: 50px;
        margin-top: 5px;
        width: 96%;
        display: flex;
        align-items: center;
        height: 75px;
        justify-content: space-evenly;
        background-color: rgba(121, 121, 121, 0.3);
        div.image {
            width: 30%;
            height: 100%;
        }
        div.setAndItemName {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        div.valueAndChange {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}


.marketplaceItem.up {
    background-color: rgba(42, 163, 0, 0.3);
    .valueAndChange {
        color: rgb(0, 108, 0)
    }
}

.marketplaceItem.down {
    background-color: rgba(200, 76, 76, 0.3);
    .valueAndChange {
        color: rgb(118, 0, 0)
    }
}

// _________________________________________________
// _________________________________________________
// _________________________________________________
//              Desktop Responsive Styles
// _________________________________________________
// _________________________________________________
// _________________________________________________


@media only screen and (min-width: 600px) {
    .marketplace {
        justify-content: center;
        width: 100%;
        margin-top: 120px;
    }
    .setSelector {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        select {
            width: 400px;
        }
    }

    .marketplaceItems {
        width: 600px;
    }
}