.marketplace {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.setSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 500px;
    select {
        font-size: 16px;
        text-align: center;
        margin-top: 0;
    }
    option {
        border: solid 1px black;
    }
}

.filterBubbles {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    padding-top: 10px;
    .filterBubble {
        height: 24px;
        padding: 4px;
        width: max-content;
        margin: 4px 4px;
        display: flex;
        align-items: center;
        background-color: white;
        border: solid 1px #6065CB;
        border-radius: 25px;
        p {
            color: #6065CB;
            margin: 0 4px;
            font-size: 12px;
        }
        button {
            background: none;
            width: 18px;
            height: 16px;
            border-radius: 25px;
            background-color: white;
            font-size: 12px;
            font-weight: 600;
            color: #6065CB;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.filterBubble.active {
    background-color: #6065CB;
    p {
        color: white;
    }
}

.filterModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    .filterSection {
        p {
            padding: 4px;
        }
        .filterBubbles {
            padding: 4px 0;
            border-bottom: solid black 1px;
            flex-wrap: wrap;
            .filterBubble {
                margin-bottom: 4px;
            }
        }
    }
    .clearAndClose {
        margin-top: auto;
        width: 100%;;
        display: flex;
        justify-content: space-evenly;
    }
}

.title {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    h3 {
        font-weight: 500;
    }
    p {
        font-size: 12px;
        font-weight: 500;
        margin-top: 10px;
    }
}

.loadingExpansionItems {
    margin: auto;
    margin-top: 50px;
    width: 60%;
}
.expansionItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    margin-top: 6px;
    margin-bottom: 100px;
    .expansionItem {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        height: 150px;
        border-radius: 15px;
        border-top: 2px solid #9e9e9e41;
        border-left: 2px solid #9e9e9e41;
        box-shadow: 1px 1px #9e9e9e41,
            2px 2px #9e9e9e41,
            3px 3px #9e9e9e41,
            4px 4px #9e9e9e41,
            5px 5px #9e9e9e41;
        width: 44%;
        div.image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100%;
            img {
                max-height: 95%;
                max-width: 90%;
                border-radius: 5px;
            }
            .unavailable {
                display: flex;
                align-items: center;
                height: 85%;
                width: 90%;
                background-color: rgb(236, 236, 236);
                font-size: 12px;
                padding: 2px;
                text-align: center;
                border-radius: 5px;
                margin: 4px;
            }
        }
        div.chartAndValue {
            color: #6065CB;
            margin-top: 5px;
            width: 40%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .marketplaceChart {
                height: 35%;
                width: 90%;
                padding: 2px 0;
                .unavailable {
                    background-color: #6065cb30;
                    color: #6065CB;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    font-size: 10px;
                    text-align: center;
                    border-radius: 5px;
                }
            }
            div.valueAndChange {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 40%;
                width: 90%;
                .marketValue {
                    font-size: 18px;
                }
                .percentChange {
                    font-size: 14px;
                }
            }
            .unavailable {
                background-color: #6065cb30;
                // color: #6065CB;
                display: flex;
                align-items: center;
                height: 50%;
                width: 90%;
                font-size: 10px;
                text-align: center;
                border-radius: 5px;
            }
        }
        
    }
    .expansionItem.up {
        .valueAndChange {
            color: rgb(0, 180, 0)
        }
    }

    .expansionItem.down {            
        .valueAndChange {
            color: rgb(160, 0, 0)
        }
    }
}

.expansionItemInfo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .name {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
        text-align: center;
    }
    .imageAndData {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        // height: 180px;
        // padding: 20px;
        .image {
            display: flex; flex-direction: row; align-items: center; justify-content: center;
            // padding: 10px 0;
            width: 30%;
            img { 
                max-width: 90%; 
            }
            .unavailable {
                display: flex;
                align-items: center;
                width: 90%;
                height: 100%;
                background-color: rgb(236, 236, 236);
                font-size: 24px;
                text-align: center;
                border-radius: 5px;
                margin: 4px;
                }
        }
        .besideImg {
            color: #6065CB;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            height: 100%;
            .marketplaceChart {
                padding: 15px;
                width: 100%;
                .unavailable {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .valueAndChange {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .marketValue {
                    font-size: 24px;
                    font-weight: 500;
                }
            }
            .valueAndChange.up {
                color: rgb(0, 180, 0)
            }
            .valueAndChange.down {
            color: rgb(160, 0, 0)
            }
        }
    }
            .purchaseSection {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 20px;
                .affiliateLinkToItem {
                    padding: 5px;
                    margin-left: 15px;
                    height: auto;
                }
            }
}

.expansionsMarketplace {
    .expansions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        .expansion {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            background-color: #6065cb30;
            border-radius: 10px;
            margin-top: 10px;
            position: relative;
            .setSymbol {
                width: 12%;
                display: flex;
                justify-content: center;
                position: absolute;
                left: 0;
                margin-left: 2%;
                img {
                    max-width: 40px;
                    max-height: 40px;
                }
            }
            .setName {
                width: 60%;
                font-weight: 500;
                text-align: center;
            }
            .valueAndChange {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 20%;
                height: 80%;
                border-radius: 10px;
                .top10Avg {
                    font-size: 12px;
                }
                p.marketValue {
                    font-size: 18px;
                    font-weight: 600;
                    color: #6065cb
                }
            }
            .valueAndChange.loadingGradient {
                p.marketValue {
                    font-size: 14px;
                }
            }
        }
        .expansion.up {
            background-color: rgba(42, 163, 0, 0.3);
            .valueAndChange {
                color: rgb(0, 180, 0);
            }
        }

        .expansion.down {
            background-color: rgba(200, 76, 76, 0.3);
            .valueAndChange {
                color: rgb(160, 0, 0);
            }
        }
    }
}


// _________________________________________________
// _________________________________________________
// _________________________________________________
//              Desktop Responsive Styles
// _________________________________________________
// _________________________________________________
// _________________________________________________


@media only screen and (min-width: 600px) {
    .marketplace {
        justify-content: center;
        width: 600px;
        margin-top: 60px;
    }
    .setSelector {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        select {
            width: 400px;
        }
    }
    .expansionItemsMarketplace, .searchResults{
        display: flex;
        flex-direction: column;
        .previousRoutes {
            width: 80%;
        }
        .expansionItems {
            .expansionItem {
                width: 30%;
            }
        }
        .expansionItemInfo {
            div.imageAndData {
                height: 300px;
                .image {
                    justify-content: start;
                    img {
                        max-height: 400px;
                    }
                }
            }
        }
    }
}