@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS reset */
/* #D1495B red
#edae49 yellow
#30638e blue */

* {
    box-sizing: border-box;
    padding:0;
    max-width:100%;
}

p {
  	font-size: 16px;
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 45px;
}

h2 {
  	font-size: 30px;
}

h3 {
  	font-size: 20px;
}

label {
 	font-size: 20px;
}

div {
  	width: 100%;
}

html, body, #root, .app, .appLoading  {
  	height: 100%;
}

body {
	background-color: white;
	font-family: 'Inter', sans-serif;  margin: 0;
	// font-weight: 900;
}

.appLoading {
	border: solid black 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 70px;
		color: #6065CB;
	}
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #6065CB;
	height: 70px;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0px 0px 4px rgb(71, 71, 71);
	border-color: black;
	p {
		font-size: 12px;
	}	
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: 100%;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 2200px;
	// height:
}

.modalBackground {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	.modalContent {
		width: 95%;
		height: 630px; // this height/margin combo works with iphone 12 safari
		margin: 30px auto;
		z-index: 1;
		display: flex;
		flex-direction: column;
		background-color: white;
		border-radius: 5px;
	}
	button {
		margin-bottom: 10px;
		margin-top: auto;
	}
}


/* place styles in either collection or emptyCollection */
.trainerHome {

}

.emptyCollection {

}

.emptyCollection .link {
	width: 100%;
	margin: 10%;
}

.emptyCollection .link button {
  	width: 40%;
}

.navBar {
	position: fixed;
	bottom: 0;
	height: 7%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.navBar .link {
	display: flex;
	flex-direction: column;
	margin: 0 1% 3% 1%;
	border-radius: 50px;
	width: 150px;
	font-size: 5vw;
	font-weight: 300;
	border: #6065CB solid 4px;
	color: #6065CB;
	background-color: white;
	height: 80%;
}

.link.selected {
	background-color: #6065CB;
	color: white;
}

button.selected {
	// background-color: #822c38;
	box-shadow: inset 2px 2px 10px 4px #5c1f27;
}

.hidden {
  	display: none !important;
}

.bold {
  	font-weight: bold;
}

.link {
	width: 25%;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
    font-size: 3vw;
}

.loginPage {
	height: 80vh;
	width: 100%;
	margin-top: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm {
	width: 350px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.registerForm {
	height: 300px;
	width: 350px;
}

form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

.formInputs {
  	width: 50%;
}

input {
	font-size: 20px;
	width: 100%;
	margin-top: 12px;

}

select {
	font-size: 20px;
	width: 100%;
	margin-top: 12px;
}

option {
  	font-size: 10px;
}

button {
	font-family: 'Inter', sans-serif;  margin: 0;
	font-size: 20px;
	text-decoration: none;
	background-color: #D1495B;
	color: #FBFAF5;
	width: 100px;
	height: 50px;
	text-align: center;
	border: none;
	border-radius: 5px;
}

button:hover {
  	cursor: pointer;
}

.button {
	font-size: 50px;
	text-decoration: none;
	background-color: #D1495B;
	color: #FBFAF5;
	margin: 3vw;
	width: 30vw;
	height: 10vw;
	max-width: 400px;
	max-height: 150px;
	text-align: center;
}

.smallButton {
	font-size: 16px;
	height: 40px;
	text-decoration: none;
	background-color: #D1495B;
	color: #FBFAF5;
	text-align: center;
}
.error {
  	color: red;
}

.modalClose {
	background-color: #6065CB;
	padding: 0 0;
	height: 40px;
	// font-size: 20px;
	border-radius: 10px;
}

/* ***Component Styles*** */

/* ImportPurchase */

  div.importPurchase {
    margin-top: 75px;
    h3 {
      margin-top: 10px;
    }
    /* PurchaseTable */
    div.purchaseItems {
      display: flex;
      flex-direction: column;
      align-items: center;
        .purchaseItemsHeader {
          border-bottom: solid black 1px;
        }
        div.purchaseTable {
        width: 90%;
        margin-bottom: 10px;
        button {
          height: 45%;
          width: 10%;
          padding: 0;
          margin: 0,
        }
        div.row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 10vh;
          margin-top: 2px;
          // border-bottom: solid black 2px;
          p {
            text-align: center;
          }
          div.image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 20%;
          }
          .image {
            width: 20%;
            img {
              height: 90%;
            }
          }
          .quantity {
            width: 10%;
          }
          .retail {
            width: 20%;
          }
          .note {
            width: 30%;
          }
        }
      }
    }
    div.purchaseDetails {
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .buttons {
        margin-top: 10px;
        width: 250px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

/* AddItemModal */

  div.addItemModal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    div.modalContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      margin: 80px auto;
      width: 330px;
      height: 80%;
      overflow: auto;
      border-radius: 10px;
      div.itemTypeButtons {
        button {
          width: 50%;
          max-width: none;
          margin: 0;
          border-radius: 0;
        }
      }
      
      div.addCardToTransaction {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85%;
        div.cardFilter {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          select {
            width: 20%;
            option {
              font-size: 1.5vw;
            }
          }
          div.filterBySets {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input {
              border: solid black 1px;
            }
            div.filterResults {
              display: flex;
            flex-direction: column;
            align-items: flex-start;
              div.filterResult {
                border: solid #FBFAF5 2px;
                background-color: #30638e;
                p {
                  font-size: 4vw;
                  color:#FBFAF5;
                  padding: 3vw;
                }
              }
              div.filterResult:hover {
                background-color: #822c38;
              }
            }
          }
        }
        div.selectedSetCardsComponent {
          display: flex;
          flex-wrap: wrap;
          justify-content:space-around;
          height: 85%;
          overflow: auto;
          img {
            width: 100px;
          }
        }
      }
    }
  }

/* SelectionDetails */
  div.selectionDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input.checkbox {
      width: 3vw;
      height: 3vw;
    }
    form.purchaseDetails {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div.labelInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          width: 20%;
          margin: 0 5vw 0 0;
        }
      }
    }
  }

  .inDevelopment {
    margin-top: 200px;
    height: 500px;
    text-align: center;
    color: #6065CB;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    ul {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      li {
        list-style-type: circle;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none; // hides sidescroll on filterBubble div
  }


  // _________________________________________________
  // _________________________________________________
  // _________________________________________________
  //              Desktop Responsive Styles
  // _________________________________________________
  // _________________________________________________
  // _________________________________________________

  @media only screen and (min-width: 600px) {
    h3 {
      font-size: 20px;
    }

    .app {
      padding: 0;
    }

    .loginPage {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .loginForm {
        width: 400px;
      }
    }

    h1 {
      font-size: 80px;
    }

    .navBar {
      .link {
        font-size: 30px;
        width: 200px;
        margin-bottom: 1%;
      }
    }

    header {
      height: 100px;
      display: flex;
      align-items: center;
      padding: 10px;
      p {
        font-size: 16px;
      }
    }

    div.importPurchase {
      margin-top: 120px;
      width: 600px;
    }

    .modalBackground .modalContent{
      width: 600px;
      height: 550px;
      margin: 100px auto;
    }

    /* AddItemModal */
  
    div.addItemModal {
      div.modalContent {
        width: 600px;
        div.itemTypeButtons {
          button {
          }
        }
        div.addCardToTransaction {
          div.cardFilter {
            select {
            }
            div.filterBySets {
              input {
              }
              div.filterResults {
                div.filterResult {
                  p {
                    font-size: 16px;
                    padding: 4px;
                  }
                }
                div.filterResult:hover {
                }
              }
            }
          }
        }
        div.selectedSetCardsComponent {

          img {
          }
        }
      }
    }
    // desktop scrollbar styles
    /* width */
    ::-webkit-scrollbar {
      display: block;
      width: 10px;
      height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #c1c1c1;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #b1b1b1;
    }
  }
