.sort{
    display: flex;
    width: 150px;
    select {
        appearance: none;
        width: 105px;
        height: 20px;
        font-size: 12px;
        margin: 0;
    }
    button {
        display: flex;
        // justify-content: start;
        align-items: center;
        border: none;
        background: none;
        color: #6065cb;
        font-size: 12px;
        width: 45px;
        height: 20px;
        padding-left: 10px;
        i {
            width: 9px;
            height: 9px;
            border: solid black;
            border-width: 0 3px 3px 0;
        }
        i.upArrow {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }
        i.downArrow {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

    }

    .value {

    }
    .direction {

    }
}